@model PrimaryModel
@inject SessionAccess SessionAccess

@{
    ViewData["Title"] = "Chatbot";
}

<div class="form-block" id="chatbot">
    @if (Model.Steps.Any())
    {
        <div class="form-block-content-previous">
            @foreach (var step in Model.PreviousSteps)
            {
                <p>
                    @step.PromptText
                </p>
                @if (!string.IsNullOrEmpty(step.UserResponseText))
                {
                    <p class="right-align">
                        @step.UserResponseText
                    </p>
                }
            }
        </div>
    }
    
    <div class="form-block-content">
        <p id="prompt-text-p">@Model.LastStep.PromptText</p>
    </div>
    
    <div class="form-block-footer">
        @foreach ((string title, string href) in Model.LastStep.ExternalLinks)
        {
            <p>
                <b><a class="external-link" href="@href" target="_blank">@title</a></b>
            </p>
        }
        
        @foreach (var action in Model.LastStep.Actions)
        {
            <p>
                <form asp-action="Chatbot" asp-controller="Home" asp-route-actionName="@action.Identifier" method="post">
                    <input type="submit" value="@action.UserVisibleText" class="btn btn-primary"
                           id="action-@action.Identifier">
                </form>
            </p>
        }
    </div>
</div>

<a asp-action="Chatbot" asp-controller="Home" class="btn">Start Over</a>
